* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  min-height: 100vh;
  background-color: #0d1117;
  font-family: 'Segoe UI', sans-serif;
  color: white;
}

#root {
  display: block;
  height: 100%;
  width: 100%;
}
