* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100vh;
  font-family: "Segoe UI", sans-serif;
  color: var(--text);
  position: relative;
  background: var(--bg);
  z-index: 0;
}
#root {
  display: block;
  height: 100%;
  width: 100%;
}
